In [1]:
# work on tax rates
import pandas as pd
import app
main_df = app.get_main_df()
main_df.reset_index(inplace=True)
#main_df.head(500)

In [ ]:
city = 'Austin, TX'
df = app.calc_mortgage(city=city)
df.to_csv('test.csv')
print(df.head())

In [4]:
df = app.amort_schedule(428766,0.07015,360)

In [6]:
df.tail()

     period  interest  principal  cumulative_interest  cumulative_principal
356   356.0     82.07    2774.84            599558.62             417501.34
357   357.0     65.85    2791.06            599624.47             420292.40
358   358.0     49.54    2807.37            599674.01             423099.77
359   359.0     33.12    2823.79            599707.13             425923.56
360   360.0     16.62    2840.29            599723.75             428763.85