In [68]:
# work on tax rates
import pandas as pd
import app
main_df = app.get_main_df()
main_df.reset_index(inplace=True)
#df = main_df['Region'].unique()
df = pd.DataFrame(main_df.Region.unique(),columns=(['Region']))
df['state_code'] = df['Region'].apply(lambda x: x[-2:])
#df.head(50)
tax_df = pd.read_csv("./data/tax_rates_state.csv")
# tax_df.head()
df_final = pd.merge(df,tax_df,how='right', on=['state_code',  'state_code'])
df_final.dropna(inplace=True)
df_final['tax_rate'] = df_final['tax_rate'].str.replace(r'%', '', regex=True).astype('float')/100
df_final.reset_index(inplace=True,drop=True)    
df_final.head(500)
#df_final.head(500)
#main_df['state_code'] = main_df['Region'][-2]
#tax_df = pd.read_csv("./data/tax_rates_state.csv")

                   Region state_code                 state  tax_rate
0              Denver, CO         CO              Colorado    0.0051
1          Washington, DC         DC  District of Columbia    0.0056
2           Las Vegas, NV         NV                Nevada    0.0060
3             Phoenix, AZ         AZ               Arizona    0.0066
4           Nashville, TN         TN             Tennessee    0.0071
5             Anaheim, CA         CA            California    0.0076
6         Los Angeles, CA         CA            California    0.0076
7             Oakland, CA         CA            California    0.0076
8           Riverside, CA         CA            California    0.0076
9          Sacramento, CA         CA            California    0.0076
10          San Diego, CA         CA            California    0.0076
11      San Francisco, CA         CA            California    0.0076
12           San Jose, CA         CA            California    0.0076
13     Virginia Beach, VA         VA              Virginia    0.0082
14          Charlotte, NC         NC        North Carolina    0.0084
15       Indianapolis, IN         IN               Indiana    0.0085
16    Fort Lauderdale, FL         FL               Florida    0.0089
17       Jacksonville, FL         FL               Florida    0.0089
18              Miami, FL         FL               Florida    0.0089
19            Orlando, FL         FL               Florida    0.0089
20              Tampa, FL         FL               Florida    0.0089
21    West Palm Beach, FL         FL               Florida    0.0089
22            Atlanta, GA         GA               Georgia    0.0092
23        Kansas City, MO         MO              Missouri    0.0097
24          St. Louis, MO         MO              Missouri    0.0097
25           Portland, OR         OR                Oregon    0.0097
26            Seattle, WA         WA            Washington    0.0098
27          Baltimore, MD         MD              Maryland    0.0109
28        Minneapolis, MN         MN             Minnesota    0.0112
29             Boston, MA         MA         Massachusetts    0.0123
30            Detroit, MI         MI              Michigan    0.0154
31             Warren, MI         MI              Michigan    0.0154
32         Cincinnati, OH         OH                  Ohio    0.0156
33          Cleveland, OH         OH                  Ohio    0.0156
34           Columbus, OH         OH                  Ohio    0.0156
35  Montgomery County, PA         PA          Pennsylvania    0.0158
36       Philadelphia, PA         PA          Pennsylvania    0.0158
37         Pittsburgh, PA         PA          Pennsylvania    0.0158
38         Providence, RI         RI          Rhode Island    0.0163
39      Nassau County, NY         NY              New York    0.0172
40           New York, NY         NY              New York    0.0172
41             Austin, TX         TX                 Texas    0.0180
42             Dallas, TX         TX                 Texas    0.0180
43         Fort Worth, TX         TX                 Texas    0.0180
44            Houston, TX         TX                 Texas    0.0180
45        San Antonio, TX         TX                 Texas    0.0180
46          Milwaukee, WI         WI             Wisconsin    0.0185
47            Chicago, IL         IL              Illinois    0.0227
48      New Brunswick, NJ         NJ            New Jersey    0.0249
49             Newark, NJ         NJ            New Jersey    0.0249

In [61]:
df_final.reset_index(inplace=True,drop=True)
df_final.head(500)

                   Region state_code                 state tax_rate
0              Denver, CO         CO              Colorado    0.51%
1          Washington, DC         DC  District of Columbia    0.56%
2           Las Vegas, NV         NV                Nevada    0.60%
3             Phoenix, AZ         AZ               Arizona    0.66%
4           Nashville, TN         TN             Tennessee    0.71%
5             Anaheim, CA         CA            California    0.76%
6         Los Angeles, CA         CA            California    0.76%
7             Oakland, CA         CA            California    0.76%
8           Riverside, CA         CA            California    0.76%
9          Sacramento, CA         CA            California    0.76%
10          San Diego, CA         CA            California    0.76%
11      San Francisco, CA         CA            California    0.76%
12           San Jose, CA         CA            California    0.76%
13     Virginia Beach, VA         VA              Virginia    0.82%
14          Charlotte, NC         NC        North Carolina    0.84%
15       Indianapolis, IN         IN               Indiana    0.85%
16    Fort Lauderdale, FL         FL               Florida    0.89%
17       Jacksonville, FL         FL               Florida    0.89%
18              Miami, FL         FL               Florida    0.89%
19            Orlando, FL         FL               Florida    0.89%
20              Tampa, FL         FL               Florida    0.89%
21    West Palm Beach, FL         FL               Florida    0.89%
22            Atlanta, GA         GA               Georgia    0.92%
23        Kansas City, MO         MO              Missouri    0.97%
24          St. Louis, MO         MO              Missouri    0.97%
25           Portland, OR         OR                Oregon    0.97%
26            Seattle, WA         WA            Washington    0.98%
27          Baltimore, MD         MD              Maryland    1.09%
28        Minneapolis, MN         MN             Minnesota    1.12%
29             Boston, MA         MA         Massachusetts    1.23%
30            Detroit, MI         MI              Michigan    1.54%
31             Warren, MI         MI              Michigan    1.54%
32         Cincinnati, OH         OH                  Ohio    1.56%
33          Cleveland, OH         OH                  Ohio    1.56%
34           Columbus, OH         OH                  Ohio    1.56%
35  Montgomery County, PA         PA          Pennsylvania    1.58%
36       Philadelphia, PA         PA          Pennsylvania    1.58%
37         Pittsburgh, PA         PA          Pennsylvania    1.58%
38         Providence, RI         RI          Rhode Island    1.63%
39      Nassau County, NY         NY              New York    1.72%
40           New York, NY         NY              New York    1.72%
41             Austin, TX         TX                 Texas    1.80%
42             Dallas, TX         TX                 Texas    1.80%
43         Fort Worth, TX         TX                 Texas    1.80%
44            Houston, TX         TX                 Texas    1.80%
45        San Antonio, TX         TX                 Texas    1.80%
46          Milwaukee, WI         WI             Wisconsin    1.85%
47            Chicago, IL         IL              Illinois    2.27%
48      New Brunswick, NJ         NJ            New Jersey    2.49%
49             Newark, NJ         NJ            New Jersey    2.49%