In [19]:
#copied and pasted from app.py
import tkinter
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib
import app

In [20]:
#pulling in the main_df
main_df=app.get_main_df()
main_df.head(5)

                       Average Monthly Rent  Average Rent YoY  \
Month      Region
2021-02-01 Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN

                       Monthly mortgage, 5% down  \
Month      Region
2021-02-01 Austin, TX                       1552
           Austin, TX                       1414
           Austin, TX                       1810
           Austin, TX                       1563
           Austin, TX                       1126

                       Monthly mortgage, 5% down YoY  \
Month      Region
2021-02-01 Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN

                       Monthly mortgage, 20% down  \
Month      Region
2021-02-01 Austin, TX                        1307
           Austin, TX                        1191
           Austin, TX                        1524
           Austin, TX                        1317
           Austin, TX                         948

                       Monthly mortgage, 20% down YoY  Median sale price  \
Month      Region
2021-02-01 Austin, TX                             NaN             397184
           Austin, TX                             NaN             361750
           Austin, TX                             NaN             463000
           Austin, TX                             NaN             400000
           Austin, TX                             NaN             288050

                       Median sale price YoY
Month      Region
2021-02-01 Austin, TX                   22.2
           Austin, TX                   18.6
           Austin, TX                   12.9
           Austin, TX                   22.0
           Austin, TX                   15.2

In [46]:
#This would come from the GUI..
user_input='Boston, MA'

In [47]:
#year over year rent is given as a percentage here. 
#Line 1 is the function name//line 2 drop columns, DROPS duplicates (left over as a reminant of the "prop type" column, and RESETS the index to remove 'Region'//
#line 3 find the users selected region//line 4 calculates the month to month percentage, AVERAGES that change then annualizes the monthly change by multiplying the mean *12

def yoy_rent(user_input):
    rent=main_df.drop(columns=['Monthly mortgage, 5% down', 'Monthly mortgage, 20% down', 'Monthly mortgage, 5% down YoY', 'Monthly mortgage, 20% down YoY', 'Median sale price YoY','Average Rent YoY','Median sale price']).drop_duplicates().reset_index('Region')
    rent=rent.loc[rent['Region']== user_input]
    rent_change=rent['Average Monthly Rent'].pct_change().dropna().mean()*12
    
    return rent_change

projection=yoy_rent(user_input)
projection

0.23906800734437433

In [48]:
#This function tells the user what to expect to pay in rent in the chosen city. This function finds the most recent average monthly ren in that city (most recent data
#on redfin_table.csv is 2022-06-01).

def current(user_input):
    current_rent=main_df.drop(columns=['Monthly mortgage, 5% down', 'Monthly mortgage, 20% down', 'Monthly mortgage, 5% down YoY', 'Monthly mortgage, 20% down YoY', 'Median sale price YoY','Average Rent YoY','Median sale price']).drop_duplicates().reset_index('Region')
    current_rent=current_rent.loc[current_rent['Region']== user_input]
    current_rent=current_rent.loc['2022-06-01']
    current_rent=current_rent['Average Monthly Rent']
      
    return current_rent

curr_rent=current(user_input)
print(curr_rent)

4031

In [49]:
#This tells the user what the city's rent could jump to based on the year over year change calculation above.
future_rent=(curr_rent*projection)+curr_rent
future_rent

4994.683137605173