In [1]:
#COLUMNS NEEDED IN FINAL DATAFRAME?
#USING REDFIN CSV!
#MODULES-

In [10]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib
import app
import warnings
with warnings.catch_warnings():
    warnings.simplefilter(action='ignore', category=FutureWarning)

In [11]:
#reading the csv, setting the linebreak as 'tab', setting datetime format for the Month index, and setting three indexes (month, region, proptype)
main_df = app.get_main_df()

AttributeError: module 'app' has no attribute 'get_main_df'

In [12]:
main_df.loc['2019-02-01', 'National', 'Townhouse']
#Since there are three indexes, you can use .loc to specifically find the datapoint as per Time/Region/Type
#If you want to refer to the actual datapoint and not this list of data, see the next cell.

Average Monthly Rent                1604.0
Average Rent YoY                       NaN
Monthly mortgage, 5% down           1190.0
Monthly mortgage, 5% down YoY          NaN
Monthly mortgage, 20% down          1002.0
Monthly mortgage, 20% down YoY         NaN
Median sale price                 251031.0
Median sale price YoY                  4.1
Name: (2019-02-01 00:00:00, National, Townhouse), dtype: float64

In [13]:
#Add another slice syntax [] and put the datapoint's index position from the list seen above (0, 1, 2,... starting from the first value top right)
#In this case, I added 3 which should show the 'Monthly Mortgage, 5% down YoY', so it should show '$1,190'

example_data = main_df.loc['2019-02-01', 'National', 'Townhouse'][2]

#to convert this string to an int, we need to add the int() function as well
example_data = int(main_df.loc['2019-02-01', 'National', 'Townhouse'][2])

#to convert this string to an int, we need to use the int() function
example_data

1190

In [14]:
#ignore this, keeping for personal references
#idx = pd.IndexSlice
#slice_example_df = main_df.loc[idx[: , :], :]
#slice_example_df

In [15]:
main_df.head()

                                                  Average Monthly Rent  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                            3020
                       Condo/Co-op                                3020
                       Multi-Family (2-4 Unit)                    3020
                       Single Family Residential                  3020
                       Townhouse                                  3020

                                                  Average Rent YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                         NaN
                       Condo/Co-op                             NaN
                       Multi-Family (2-4 Unit)                 NaN
                       Single Family Residential               NaN
                       Townhouse                               NaN

                                                  Monthly mortgage, 5% down  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                 3225
                       Condo/Co-op                                     2115
                       Multi-Family (2-4 Unit)                         5535
                       Single Family Residential                       3811
                       Townhouse                                       2576

                                                  Monthly mortgage, 5% down YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                      NaN
                       Condo/Co-op                                          NaN
                       Multi-Family (2-4 Unit)                              NaN
                       Single Family Residential                            NaN
                       Townhouse                                            NaN

                                                  Monthly mortgage, 20% down  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                  2715
                       Condo/Co-op                                      1781
                       Multi-Family (2-4 Unit)                          4661
                       Single Family Residential                        3209
                       Townhouse                                        2169

                                                  Monthly mortgage, 20% down YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                       NaN
                       Condo/Co-op                                           NaN
                       Multi-Family (2-4 Unit)                               NaN
                       Single Family Residential                             NaN
                       Townhouse                                             NaN

                                                  Median sale price  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                       825000
                       Condo/Co-op                           541000
                       Multi-Family (2-4 Unit)              1416000
                       Single Family Residential             975000
                       Townhouse                             659000

                                                  Median sale price YoY
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                             10.0
                       Condo/Co-op                                  7.9
                       Multi-Family (2-4 Unit)                     34.0
                       Single Family Residential                   12.1
                       Townhouse                                   15.0

In [16]:
main_df.dtypes

Average Monthly Rent                int32
Average Rent YoY                  float64
Monthly mortgage, 5% down           int32
Monthly mortgage, 5% down YoY     float64
Monthly mortgage, 20% down          int32
Monthly mortgage, 20% down YoY    float64
Median sale price                   int32
Median sale price YoY             float64
dtype: object