In [1]:
#COLUMNS NEEDED IN FINAL DATAFRAME?
#USING REDFIN CSV!
#MODULES-

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib
import app
import warnings
with warnings.catch_warnings():
    warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
#reading the csv, setting the linebreak as 'tab', setting datetime format for the Month index, and setting three indexes (month, region, proptype)
main_df = app.get_main_df()
main_df

                                                          Average Monthly Rent  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                            3020
                               Condo/Co-op                                3020
                               Multi-Family (2-4 Unit)                    3020
                               Single Family Residential                  3020
                               Townhouse                                  3020
...                                                                        ...
2022-06-01 West Palm Beach, FL All Residential                            3111
                               Condo/Co-op                                3111
                               Multi-Family (2-4 Unit)                    3111
                               Single Family Residential                  3111
                               Townhouse                                  3111

                                                          Average Rent YoY  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                         NaN
                               Condo/Co-op                             NaN
                               Multi-Family (2-4 Unit)                 NaN
                               Single Family Residential               NaN
                               Townhouse                               NaN
...                                                                    ...
2022-06-01 West Palm Beach, FL All Residential                        22.9
                               Condo/Co-op                            22.9
                               Multi-Family (2-4 Unit)                22.9
                               Single Family Residential              22.9
                               Townhouse                              22.9

                                                          Monthly mortgage, 5% down  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                                 3225
                               Condo/Co-op                                     2115
                               Multi-Family (2-4 Unit)                         5535
                               Single Family Residential                       3811
                               Townhouse                                       2576
...                                                                             ...
2022-06-01 West Palm Beach, FL All Residential                                 2514
                               Condo/Co-op                                     1460
                               Multi-Family (2-4 Unit)                         2433
                               Single Family Residential                       3622
                               Townhouse                                       2000

                                                          Monthly mortgage, 5% down YoY  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                                      NaN
                               Condo/Co-op                                          NaN
                               Multi-Family (2-4 Unit)                              NaN
                               Single Family Residential                            NaN
                               Townhouse                                            NaN
...                                                                                 ...
2022-06-01 West Palm Beach, FL All Residential                                     67.8
                               Condo/Co-op                                         76.3
                               Multi-Family (2-4 Unit)                             68.9
                               Single Family Residential                           72.7
                               Townhouse                                           82.1

                                                          Monthly mortgage, 20% down  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                                  2715
                               Condo/Co-op                                      1781
                               Multi-Family (2-4 Unit)                          4661
                               Single Family Residential                        3209
                               Townhouse                                        2169
...                                                                              ...
2022-06-01 West Palm Beach, FL All Residential                                  2117
                               Condo/Co-op                                      1229
                               Multi-Family (2-4 Unit)                          2049
                               Single Family Residential                        3050
                               Townhouse                                        1684

                                                          Monthly mortgage, 20% down YoY  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                                       NaN
                               Condo/Co-op                                           NaN
                               Multi-Family (2-4 Unit)                               NaN
                               Single Family Residential                             NaN
                               Townhouse                                             NaN
...                                                                                  ...
2022-06-01 West Palm Beach, FL All Residential                                      67.8
                               Condo/Co-op                                          76.3
                               Multi-Family (2-4 Unit)                              68.9
                               Single Family Residential                            72.7
                               Townhouse                                            82.1

                                                          Median sale price  \
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                       825000
                               Condo/Co-op                           541000
                               Multi-Family (2-4 Unit)              1416000
                               Single Family Residential             975000
                               Townhouse                             659000
...                                                                     ...
2022-06-01 West Palm Beach, FL All Residential                       465000
                               Condo/Co-op                           270000
                               Multi-Family (2-4 Unit)               450000
                               Single Family Residential             670000
                               Townhouse                             370000

                                                          Median sale price YoY
Month      Region              For-Sale Property Type
2021-02-01 Anaheim, CA         All Residential                             10.0
                               Condo/Co-op                                  7.9
                               Multi-Family (2-4 Unit)                     34.0
                               Single Family Residential                   12.1
                               Townhouse                                   15.0
...                                                                         ...
2022-06-01 West Palm Beach, FL All Residential                             24.0
                               Condo/Co-op                                 30.3
                               Multi-Family (2-4 Unit)                     24.8
                               Single Family Residential                   27.6
                               Townhouse                                   34.5

[4447 rows x 8 columns]

In [4]:
main_df.loc['2019-02-01', 'National', 'Townhouse']
#Since there are three indexes, you can use .loc to specifically find the datapoint as per Time/Region/Type
#If you want to refer to the actual datapoint and not this list of data, see the next cell.

Average Monthly Rent                1604.0
Average Rent YoY                       NaN
Monthly mortgage, 5% down           1190.0
Monthly mortgage, 5% down YoY          NaN
Monthly mortgage, 20% down          1002.0
Monthly mortgage, 20% down YoY         NaN
Median sale price                 251031.0
Median sale price YoY                  4.1
Name: (2019-02-01 00:00:00, National, Townhouse), dtype: float64

In [8]:
main_df.reset_index(inplace=True)
main_df['Region'].unique().tolist()

['Anaheim, CA',
 'Atlanta, GA',
 'Austin, TX',
 'Baltimore, MD',
 'Boston, MA',
 'Charlotte, NC',
 'Chicago, IL',
 'Cincinnati, OH',
 'Cleveland, OH',
 'Columbus, OH',
 'Dallas, TX',
 'Denver, CO',
 'Detroit, MI',
 'Fort Lauderdale, FL',
 'Fort Worth, TX',
 'Houston, TX',
 'Indianapolis, IN',
 'Jacksonville, FL',
 'Kansas City, MO',
 'Las Vegas, NV',
 'Los Angeles, CA',
 'Miami, FL',
 'Milwaukee, WI',
 'Minneapolis, MN',
 'Montgomery County, PA',
 'Nashville, TN',
 'Nassau County, NY',
 'National',
 'New Brunswick, NJ',
 'New York, NY',
 'Newark, NJ',
 'Oakland, CA',
 'Orlando, FL',
 'Philadelphia, PA',
 'Phoenix, AZ',
 'Pittsburgh, PA',
 'Portland, OR',
 'Providence, RI',
 'Riverside, CA',
 'Sacramento, CA',
 'San Antonio, TX',
 'San Diego, CA',
 'San Francisco, CA',
 'San Jose, CA',
 'Seattle, WA',
 'St. Louis, MO',
 'Tampa, FL',
 'Virginia Beach, VA',
 'Warren, MI',
 'Washington, DC',
 'West Palm Beach, FL']

In [13]:
#Add another slice syntax [] and put the datapoint's index position from the list seen above (0, 1, 2,... starting from the first value top right)
#In this case, I added 3 which should show the 'Monthly Mortgage, 5% down YoY', so it should show '$1,190'

example_data = main_df.loc['2019-02-01', 'National', 'Townhouse'][2]

#to convert this string to an int, we need to add the int() function as well
example_data = int(main_df.loc['2019-02-01', 'National', 'Townhouse'][2])

#to convert this string to an int, we need to use the int() function
example_data

1190

In [14]:
#ignore this, keeping for personal references
#idx = pd.IndexSlice
#slice_example_df = main_df.loc[idx[: , :], :]
#slice_example_df

In [15]:
main_df.head()

                                                  Average Monthly Rent  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                            3020
                       Condo/Co-op                                3020
                       Multi-Family (2-4 Unit)                    3020
                       Single Family Residential                  3020
                       Townhouse                                  3020

                                                  Average Rent YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                         NaN
                       Condo/Co-op                             NaN
                       Multi-Family (2-4 Unit)                 NaN
                       Single Family Residential               NaN
                       Townhouse                               NaN

                                                  Monthly mortgage, 5% down  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                 3225
                       Condo/Co-op                                     2115
                       Multi-Family (2-4 Unit)                         5535
                       Single Family Residential                       3811
                       Townhouse                                       2576

                                                  Monthly mortgage, 5% down YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                      NaN
                       Condo/Co-op                                          NaN
                       Multi-Family (2-4 Unit)                              NaN
                       Single Family Residential                            NaN
                       Townhouse                                            NaN

                                                  Monthly mortgage, 20% down  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                  2715
                       Condo/Co-op                                      1781
                       Multi-Family (2-4 Unit)                          4661
                       Single Family Residential                        3209
                       Townhouse                                        2169

                                                  Monthly mortgage, 20% down YoY  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                                       NaN
                       Condo/Co-op                                           NaN
                       Multi-Family (2-4 Unit)                               NaN
                       Single Family Residential                             NaN
                       Townhouse                                             NaN

                                                  Median sale price  \
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                       825000
                       Condo/Co-op                           541000
                       Multi-Family (2-4 Unit)              1416000
                       Single Family Residential             975000
                       Townhouse                             659000

                                                  Median sale price YoY
Month      Region      For-Sale Property Type
2021-02-01 Anaheim, CA All Residential                             10.0
                       Condo/Co-op                                  7.9
                       Multi-Family (2-4 Unit)                     34.0
                       Single Family Residential                   12.1
                       Townhouse                                   15.0

In [16]:
main_df.dtypes

Average Monthly Rent                int32
Average Rent YoY                  float64
Monthly mortgage, 5% down           int32
Monthly mortgage, 5% down YoY     float64
Monthly mortgage, 20% down          int32
Monthly mortgage, 20% down YoY    float64
Median sale price                   int32
Median sale price YoY             float64
dtype: object

In [19]:
main_df.loc['2019-02-01']

                                    Average Monthly Rent  Average Rent YoY  \
Region   For-Sale Property Type
National All Residential                            1604               NaN
         Condo/Co-op                                1604               NaN
         Multi-Family (2-4 Unit)                    1604               NaN
         Single Family Residential                  1604               NaN
         Single Units Only                          1604               NaN
         Townhouse                                  1604               NaN

                                    Monthly mortgage, 5% down  \
Region   For-Sale Property Type
National All Residential                                 1300
         Condo/Co-op                                     1138
         Multi-Family (2-4 Unit)                         1368
         Single Family Residential                       1339
         Single Units Only                               1303
         Townhouse                                       1190

                                    Monthly mortgage, 5% down YoY  \
Region   For-Sale Property Type
National All Residential                                      NaN
         Condo/Co-op                                          NaN
         Multi-Family (2-4 Unit)                              NaN
         Single Family Residential                            NaN
         Single Units Only                                    NaN
         Townhouse                                            NaN

                                    Monthly mortgage, 20% down  \
Region   For-Sale Property Type
National All Residential                                  1095
         Condo/Co-op                                       958
         Multi-Family (2-4 Unit)                          1152
         Single Family Residential                        1127
         Single Units Only                                1098
         Townhouse                                        1002

                                    Monthly mortgage, 20% down YoY  \
Region   For-Sale Property Type
National All Residential                                       NaN
         Condo/Co-op                                           NaN
         Multi-Family (2-4 Unit)                               NaN
         Single Family Residential                             NaN
         Single Units Only                                     NaN
         Townhouse                                             NaN

                                    Median sale price  Median sale price YoY
Region   For-Sale Property Type
National All Residential                       274287                    2.6
         Condo/Co-op                           240027                    1.1
         Multi-Family (2-4 Unit)               288651                    5.9
         Single Family Residential             282435                    3.0
         Single Units Only                     274963                    3.0
         Townhouse                             251031                    4.1