In [1]:
#COLUMNS NEEDED IN FINAL DATAFRAME?
#USING REDFIN CSV!
#MODULES-

In [8]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib
import app
import warnings
with warnings.catch_warnings():
    warnings.simplefilter(action='ignore', category=FutureWarning)

In [9]:
#reading the csv, setting the linebreak as 'tab', setting datetime format for the Month index, and setting three indexes (month, region, proptype)
main_df = app.get_main_df()
main_df

                       Average Monthly Rent  Average Rent YoY  \
Month      Region
2021-02-01 Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
           Austin, TX                  1644               NaN
...                                     ...               ...
2022-06-01 Boston, MA                  4031              17.2
           Boston, MA                  4031              17.2
           Boston, MA                  4031              17.2
           Boston, MA                  4031              17.2
           Boston, MA                  4031              17.2

                       Monthly mortgage, 5% down  \
Month      Region
2021-02-01 Austin, TX                       1552
           Austin, TX                       1414
           Austin, TX                       1810
           Austin, TX                       1563
           Austin, TX                       1126
...                                          ...
2022-06-01 Boston, MA                       3811
           Boston, MA                       3297
           Boston, MA                       4423
           Boston, MA                       4000
           Boston, MA                       3250

                       Monthly mortgage, 5% down YoY  \
Month      Region
2021-02-01 Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN
           Austin, TX                            NaN
...                                              ...
2022-06-01 Boston, MA                           46.8
           Boston, MA                           46.6
           Boston, MA                           47.6
           Boston, MA                           45.1
           Boston, MA                           50.9

                       Monthly mortgage, 20% down  \
Month      Region
2021-02-01 Austin, TX                        1307
           Austin, TX                        1191
           Austin, TX                        1524
           Austin, TX                        1317
           Austin, TX                         948
...                                           ...
2022-06-01 Boston, MA                        3209
           Boston, MA                        2776
           Boston, MA                        3725
           Boston, MA                        3369
           Boston, MA                        2737

                       Monthly mortgage, 20% down YoY  Median sale price  \
Month      Region
2021-02-01 Austin, TX                             NaN             397184
           Austin, TX                             NaN             361750
           Austin, TX                             NaN             463000
           Austin, TX                             NaN             400000
           Austin, TX                             NaN             288050
...                                               ...                ...
2022-06-01 Boston, MA                            46.8             705000
           Boston, MA                            46.6             609900
           Boston, MA                            47.6             818250
           Boston, MA                            45.1             740000
           Boston, MA                            50.9             601250

                       Median sale price YoY
Month      Region
2021-02-01 Austin, TX                   22.2
           Austin, TX                   18.6
           Austin, TX                   12.9
           Austin, TX                   22.0
           Austin, TX                   15.2
...                                      ...
2022-06-01 Boston, MA                    8.5
           Boston, MA                    8.3
           Boston, MA                    9.1
           Boston, MA                    7.2
           Boston, MA                   11.5

[759 rows x 8 columns]

In [12]:
main_df.reset_index(inplace=True)
main_df['Region'].unique().tolist()

['Austin, TX',
 'San Diego, CA',
 'Atlanta, GA',
 'Washington, DC',
 'West Palm Beach, FL',
 'Indianapolis, IN',
 'Detroit, MI',
 'Denver, CO',
 'Boston, MA']