In [27]:
#COLUMNS NEEDED IN FINAL DATAFRAME?
#USING REDFIN CSV!


#MODULES-

In [28]:
import pandas as pd
import numpy as np
from pathlib import Path
import questionary
import matplotlib

In [43]:
main_df = pd.read_csv(Path('C:/users/ajcth/documents/github/rent-v-buy/data/redfin_table.csv'), on_bad_lines='skip', sep='\t', infer_datetime_format=True, parse_dates=True, index_col='Month')
main_df

,Region,For-Sale Property Type,Average Monthly Rent,Average Rent YoY,"Monthly mortgage, 5% down","Monthly mortgage, 5% down YoY","Monthly mortgage, 20% down","Monthly mortgage, 20% down YoY",Median sale price,Median sale price YoY
Month,,,,,,,,,,
2021-02-01,"Anaheim, CA",All Residential,"$3,020",NaN,"$3,225",NaN,"$2,715",NaN,"$825,000",10.0%
2021-02-01,"Anaheim, CA",Condo/Co-op,"$3,020",NaN,"$2,115",NaN,"$1,781",NaN,"$541,000",7.9%
2021-02-01,"Anaheim, CA",Multi-Family (2-4 Unit),"$3,020",NaN,"$5,535",NaN,"$4,661",NaN,"$1,416,000",34.0%
2021-02-01,"Anaheim, CA",Single Family Residential,"$3,020",NaN,"$3,811",NaN,"$3,209",NaN,"$975,000",12.1%
2021-02-01,"Anaheim, CA",Townhouse,"$3,020",NaN,"$2,576",NaN,"$2,169",NaN,"$659,000",15.0%
...,...,...,...,...,...,...,...,...,...,...
2022-06-01,"West Palm Beach, FL",All Residential,"$3,111",22.9%,"$2,514",67.8%,"$2,117",67.8%,"$465,000",24.0%
2022-06-01,"West Palm Beach, FL",Condo/Co-op,"$3,111",22.9%,"$1,460",76.3%,"$1,229",76.3%,"$270,000",30.3%
2022-06-01,"West Palm Beach, FL",Multi-Family (2-4 Unit),"$3,111",22.9%,"$2,433",68.9%,"$2,049",68.9%,"$450,000",24.8%
2022-06-01,"West Palm Beach, FL",Single Family Residential,"$3,111",22.9%,"$3,622",72.7%,"$3,050",72.7%,"$670,000",27.6%
2022-06-01,"West Palm Beach, FL",Townhouse,"$3,111",22.9%,"$2,000",82.1%,"$1,684",82.1%,"$370,000",34.5%

In [ ]:
#POTENTIAL IDEA:
#CREATE A FUNCTION TO GENERATE A NEW DATAFRAME CONTAINING DATA FOR THE CHOSEN CITY/ HOUSE SIZE