In [128]:
#COLUMNS NEEDED IN FINAL DATAFRAME?
#USING REDFIN CSV!


#MODULES-

In [129]:
import pandas as pd
import numpy as np
from pathlib import Path
import matplotlib

In [130]:
#reading the csv, setting the linebreak as 'tab', setting datetime format for the Month index, and setting three indexes (month, region, proptype)
main_df = pd.read_csv(Path('data/redfin_table.csv'), on_bad_lines='skip', sep='\t', infer_datetime_format=True, parse_dates=True, index_col=['Month', 'Region', 'For-Sale Property Type'])

#removing the '$' '%' ',' from the datapoints so they can be converted to ints as needed
main_df.loc[ : , 'Average Monthly Rent'] = main_df.loc[ : , 'Average Monthly Rent'].str.replace('$', '')
main_df.loc[ : , 'Monthly mortgage, 5% down'] = main_df.loc[ : , 'Monthly mortgage, 5% down'].str.replace('$', '')
main_df.loc[ : , 'Monthly mortgage, 20% down'] = main_df.loc[ : , 'Monthly mortgage, 20% down'].str.replace('$', '')
main_df.loc[ : , 'Median sale price'] = main_df.loc[ : , 'Median sale price'].str.replace('$', '')
main_df.loc[ : , 'Average Monthly Rent'] = main_df.loc[ : , 'Average Monthly Rent'].str.replace(',', '')
main_df.loc[ : , 'Monthly mortgage, 5% down'] = main_df.loc[ : , 'Monthly mortgage, 5% down'].str.replace(',', '')
main_df.loc[ : , 'Monthly mortgage, 20% down'] = main_df.loc[ : , 'Monthly mortgage, 20% down'].str.replace(',', '')
main_df.loc[ : , 'Median sale price'] = main_df.loc[ : , 'Median sale price'].str.replace(',', '')
main_df.loc[ : , 'Average Rent YoY'] = main_df.loc[ : , 'Average Rent YoY'].str.replace('%', '')
main_df.loc[ : , 'Monthly mortgage, 5% down YoY'] = main_df.loc[ : , 'Monthly mortgage, 5% down YoY'].str.replace('%', '')
main_df.loc[ : , 'Monthly mortgage, 20% down YoY'] = main_df.loc[ : , 'Monthly mortgage, 20% down YoY'].str.replace('%', '')
main_df.loc[ : , 'Median sale price YoY'] = main_df.loc[ : , 'Median sale price YoY'].str.replace('%', '')
#main_df.sort_index(level=['Month', 'Region', 'For-Sale Property Type'], ascending=[2, 1, 0], inplace=True)
#doesn't look like I need to sort the indexes for what we are doing, keeping it here for reference.


main_df.sample(15)

C:\python_files\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """
C:\python_files\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

C:\python_files\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  import sys
C:\python_files\Anaconda3\envs\dev\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

                                                        Average Monthly Rent  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                 2426
2021-02-01 Boston, MA         Single Family Residential                 3009
2021-11-01 Indianapolis, IN   All Residential                           1293
           Dallas, TX         Multi-Family (2-4 Unit)                   2070
2021-06-01 San Diego, CA      Condo/Co-op                               2917
2021-05-01 New York, NY       Condo/Co-op                               3221
2021-12-01 Virginia Beach, VA Single Family Residential                 1681
2021-04-01 Sacramento, CA     Condo/Co-op                               2384
2021-06-01 San Jose, CA       Townhouse                                 3181
2021-11-01 Providence, RI     Single Family Residential                 2175
2022-06-01 Washington, DC     Townhouse                                 2741
2022-01-01 Sacramento, CA     All Residential                           2724
2019-07-01 National           All Residential                           1622
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                   1595
2021-06-01 New Brunswick, NJ  Townhouse                                 3286

                                                        Average Rent YoY  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential              NaN
2021-02-01 Boston, MA         Single Family Residential              NaN
2021-11-01 Indianapolis, IN   All Residential                        NaN
           Dallas, TX         Multi-Family (2-4 Unit)                NaN
2021-06-01 San Diego, CA      Condo/Co-op                            NaN
2021-05-01 New York, NY       Condo/Co-op                            NaN
2021-12-01 Virginia Beach, VA Single Family Residential              NaN
2021-04-01 Sacramento, CA     Condo/Co-op                            NaN
2021-06-01 San Jose, CA       Townhouse                              NaN
2021-11-01 Providence, RI     Single Family Residential              NaN
2022-06-01 Washington, DC     Townhouse                             11.3
2022-01-01 Sacramento, CA     All Residential                        NaN
2019-07-01 National           All Residential                        NaN
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                NaN
2021-06-01 New Brunswick, NJ  Townhouse                              NaN

                                                        Monthly mortgage, 5% down  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                      1368
2021-02-01 Boston, MA         Single Family Residential                      2165
2021-11-01 Indianapolis, IN   All Residential                                1010
           Dallas, TX         Multi-Family (2-4 Unit)                        1261
2021-06-01 San Diego, CA      Condo/Co-op                                    2097
2021-05-01 New York, NY       Condo/Co-op                                    2451
2021-12-01 Virginia Beach, VA Single Family Residential                      1262
2021-04-01 Sacramento, CA     Condo/Co-op                                    1292
2021-06-01 San Jose, CA       Townhouse                                      4594
2021-11-01 Providence, RI     Single Family Residential                      1594
2022-06-01 Washington, DC     Townhouse                                      2838
2022-01-01 Sacramento, CA     All Residential                                2315
2019-07-01 National           All Residential                                1318
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                         977
2021-06-01 New Brunswick, NJ  Townhouse                                      1266

                                                        Monthly mortgage, 5% down YoY  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                           NaN
2021-02-01 Boston, MA         Single Family Residential                           NaN
2021-11-01 Indianapolis, IN   All Residential                                     NaN
           Dallas, TX         Multi-Family (2-4 Unit)                             NaN
2021-06-01 San Diego, CA      Condo/Co-op                                         NaN
2021-05-01 New York, NY       Condo/Co-op                                         NaN
2021-12-01 Virginia Beach, VA Single Family Residential                           NaN
2021-04-01 Sacramento, CA     Condo/Co-op                                         NaN
2021-06-01 San Jose, CA       Townhouse                                           NaN
2021-11-01 Providence, RI     Single Family Residential                           NaN
2022-06-01 Washington, DC     Townhouse                                          49.6
2022-01-01 Sacramento, CA     All Residential                                     NaN
2019-07-01 National           All Residential                                     NaN
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                             NaN
2021-06-01 New Brunswick, NJ  Townhouse                                           NaN

                                                        Monthly mortgage, 20% down  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                       1152
2021-02-01 Boston, MA         Single Family Residential                       1823
2021-11-01 Indianapolis, IN   All Residential                                  851
           Dallas, TX         Multi-Family (2-4 Unit)                         1062
2021-06-01 San Diego, CA      Condo/Co-op                                     1766
2021-05-01 New York, NY       Condo/Co-op                                     2064
2021-12-01 Virginia Beach, VA Single Family Residential                       1062
2021-04-01 Sacramento, CA     Condo/Co-op                                     1088
2021-06-01 San Jose, CA       Townhouse                                       3869
2021-11-01 Providence, RI     Single Family Residential                       1343
2022-06-01 Washington, DC     Townhouse                                       2390
2022-01-01 Sacramento, CA     All Residential                                 1949
2019-07-01 National           All Residential                                 1110
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                          823
2021-06-01 New Brunswick, NJ  Townhouse                                       1066

                                                        Monthly mortgage, 20% down YoY  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                            NaN
2021-02-01 Boston, MA         Single Family Residential                            NaN
2021-11-01 Indianapolis, IN   All Residential                                      NaN
           Dallas, TX         Multi-Family (2-4 Unit)                              NaN
2021-06-01 San Diego, CA      Condo/Co-op                                          NaN
2021-05-01 New York, NY       Condo/Co-op                                          NaN
2021-12-01 Virginia Beach, VA Single Family Residential                            NaN
2021-04-01 Sacramento, CA     Condo/Co-op                                          NaN
2021-06-01 San Jose, CA       Townhouse                                            NaN
2021-11-01 Providence, RI     Single Family Residential                            NaN
2022-06-01 Washington, DC     Townhouse                                           49.6
2022-01-01 Sacramento, CA     All Residential                                      NaN
2019-07-01 National           All Residential                                      NaN
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                              NaN
2021-06-01 New Brunswick, NJ  Townhouse                                            NaN

                                                        Median sale price  \
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential            347251
2021-02-01 Boston, MA         Single Family Residential            554000
2021-11-01 Indianapolis, IN   All Residential                      250000
           Dallas, TX         Multi-Family (2-4 Unit)              312000
2021-06-01 San Diego, CA      Condo/Co-op                          525000
2021-05-01 New York, NY       Condo/Co-op                          615000
2021-12-01 Virginia Beach, VA Single Family Residential            311000
2021-04-01 Sacramento, CA     Condo/Co-op                          320000
2021-06-01 San Jose, CA       Townhouse                           1150000
2021-11-01 Providence, RI     Single Family Residential            394500
2022-06-01 Washington, DC     Townhouse                            525000
2022-01-01 Sacramento, CA     All Residential                      546000
2019-07-01 National           All Residential                      298869
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)              241500
2021-06-01 New Brunswick, NJ  Townhouse                            317000

                                                        Median sale price YoY
Month      Region             For-Sale Property Type
2021-07-01 Chicago, IL        Single Family Residential                  15.8
2021-02-01 Boston, MA         Single Family Residential                  10.8
2021-11-01 Indianapolis, IN   All Residential                            11.9
           Dallas, TX         Multi-Family (2-4 Unit)                    17.7
2021-06-01 San Diego, CA      Condo/Co-op                                25.0
2021-05-01 New York, NY       Condo/Co-op                                 6.0
2021-12-01 Virginia Beach, VA Single Family Residential                   7.2
2021-04-01 Sacramento, CA     Condo/Co-op                                15.5
2021-06-01 San Jose, CA       Townhouse                                  23.0
2021-11-01 Providence, RI     Single Family Residential                  16.0
2022-06-01 Washington, DC     Townhouse                                  10.5
2022-01-01 Sacramento, CA     All Residential                            16.2
2019-07-01 National           All Residential                             4.3
2021-03-01 Charlotte, NC      Multi-Family (2-4 Unit)                    -3.4
2021-06-01 New Brunswick, NJ  Townhouse                                   3.9

In [131]:
main_df.loc['2019-02-01', 'National', 'Townhouse']
#Since there are three indexes, you can use .loc to specifically find the datapoint as per Time/Region/Type
#If you want to refer to the actual datapoint and not this list of data, see the next cell.

Average Monthly Rent                1604
Average Rent YoY                     NaN
Monthly mortgage, 5% down           1190
Monthly mortgage, 5% down YoY        NaN
Monthly mortgage, 20% down          1002
Monthly mortgage, 20% down YoY       NaN
Median sale price                 251031
Median sale price YoY                4.1
Name: (2019-02-01 00:00:00, National, Townhouse), dtype: object

In [135]:
#Add another slice syntax [] and put the datapoint's index position from the list seen above (0, 1, 2,... starting from the first value top right)
#In this case, I added 3 which should show the 'Monthly Mortgage, 5% down YoY', so it should show '$1,190'

example_data = main_df.loc['2019-02-01', 'National', 'Townhouse'][2]

#to convert this string to an int, we need to add the int() function as well
example_data = int(main_df.loc['2019-02-01', 'National', 'Townhouse'][2])

#to convert this string to an int, we need to use the int() function
example_data

1190

In [133]:
#ignore this, keeping for personal references
#idx = pd.IndexSlice
#slice_example_df = main_df.loc[idx[: , :], :]
#slice_example_df